.container {
    max-width: 1200px;
    margin: 30px auto;
    background: rgb(148, 106, 89);
}

h1 {
    text-align: center;
    padding-top: 15px;
}

img {
    width: 564px;
    height: 564px;
}

.slider {
    width: 564px;
    height: 564px;
    margin: 30px auto;
    overflow: hidden;
}

.slider__img {
    height: 564px;
    width: 2256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: rgb(194, 158, 144);
}

button:active {
    background: #a49999;
    color: #a59d9d;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}